section{

    display: flex;
    justify-content: center;

}

h1{

  text-align: center;
}
#grille{
    display: grid;
  
}
.mur{

  background-color: rgb(4, 156, 4);
}

.sol{
  background-color: rgb(62, 70, 70);
}
.bonbon{

  background-image: url("../image/img/bonbon.gif");
}

.pacman{
  background-image: url("../image/img/pacman4.gif");
z-index: 2;
}